name: test
on:
  push:
    branches: ["**"]
  pull_request:
    branches: [main]
jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: bats-core/bats-action@4.0.0
      - name: Run tests
        run: bats tests/
